<h1>Log In</h1>

<%= form_tag login_path do %>
  <fieldset>
      <div class="form-group">
        <%= label_tag :login_or_email %><br/>
        <%= text_field_tag :login_or_email, nil %>
      </div>
      <div class="form-group">
        <%= label_tag :password %><br/>
        <%= password_field_tag :password, nil %>
      </div>
      <p>
        <%= submit_tag 'Log In', class: "btn btn-primary" %>
      </p>
  </fieldset>
<% end %>
<p>No account yet? <%= link_to 'Register', register_path %> now!</p>