<h2><%= "#{@project.name}" %></h2>
<p>Owned by <%= formatted_user_profile_link @project.owner %></p>
<h3>Description</h3>
<p><%= "#{@project.description}" %></p>
<% if @project.project_member?(current_user) %>
  <h3>Items</h3>
  <ol>
    <% @project.top_level_items.each do |item| %>
      <li><%= link_to item.name, 
                      project_item_path(@project, item) %></li>
    <% end %>
    <%= link_to 'Add Item', new_project_item_path(@project) %>
  </ol>
  
  <h3>Members</h3>
  <ol>
    <% @project.participants.each do |participant| %>
      <li><%= formatted_user_profile_link participant %></li>
    <% end %>
  </ol>
  <% if @project.project_admin?(current_user) %>
    <h4>Add Participants</h4>
    <%= render partial: 'invitations/form', 
               locals: { project_id: @project.id } %>
  <% end %>
<% end %>
